<% content_for(:title){'Nikky'} %>
<div class="head">
  <div class="row align-top">
    <div class="small-12 medium-6">
      <%= image_tag 'nikky.jpg', alt: 'nikky' %>
    </div>
    <div class="small-12 medium-6 content">
      <h1>Nikky Southerland</h1>
      <p class="lead">
        Seattle denizen.<br>
        Creates artisanal code.<br>
        Photographs and writes.
      </p>
      <%= render partial: 'tweets', locals: {tweets: @tweets} %>
    </div>
  </div>
</div>

<div class="purple section">
  <div class="row align-middle">
    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>Blogging</h2>
    </div>
    <div class="small-12 medium-7 small-order-1 medium-order-2">
      <p>
        I've been writing at my blog for <%= Time.now.year - 2004 %> years
        now at <a href="http://nykida.net" target="_blank">nykida.net <%= fa_icon('external-link') %></a>. There's no particular theme. I usually write about space, travel, and culture.
      </p>
      <%= render partial: 'blog_posts', locals: {posts: @wordpress_posts} %>
    </div>
  </div>
</div>

<div class="blue section no-padding">
  <div class="row align-middle">

    <div class="small-12 medium-7 small-order-2 medium-order-1 image">
      <%= render partial: 'flickr', locals: {photos: @flickr_photos} %>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-2">
      <h2>Photography</h2>
      <p>
        I picked up taking pictures in High School. My favorite genres are
        infrastructure, cities, nature, and wildlife. Shooting with a Pixel 3 and
        Canon 6D. All of my work is available free of charge with a Creative
        Commons license.
      </p>
      <p>
        <%= fa_icon 'flickr' %>
        <%= link_to 'Nikky\'s Flickr', 'https://flickr.com/photos/allynfolksjr', target:
        '_blank' %>
        <%= fa_icon('external-link') %>
      </p>
    </div>
  </div>
</div>

<div class="white section no-padding">
  <div class="row align-middle">

    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>
        Traveling
      </h2>
      <p>
        I started traveling on my own during college and haven't stopped since.
        I've visited
        Italy, France, Germany, Austria, United Kingdom, Republic of Ireland,
        The Netherlands, Finland, Sweden, Denmark, Norway, Croatia,
        Czech Republic, Slovenia, Hungary, Poland,
        Liechtenstein, Iceland, Switzerland, Spain, Belgium,
        Belize, Mexico, Canada, and Honduras.</p>
    </div>
     <div class="small-12 medium-7 small-order-2 medium-order-2 image">
      <%= image_tag 'travel.jpg', alt: 'nikky in front of buildings', width: '700' %>
    </div>
  </div>
</div>

<div class="purple section">
  <div class="row align-middle">
    <div class="small-12 medium-7 small-order-2 medium-order-1">
      <p>
        I work as a full stack web developer at a European travel company.
        Currently specializing in the Ruby on Rails framework and data integration
        with a particular interest in shaping customer experiences.
      </p>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-2">
      <h2>Software Engineer</h2>
    </div>
  </div>
</div>

<div class="blue section">
  <div class="row align-middle">
    <div class="small-12 medium-7 small-order-2 medium-order-2">
      <p>
        I have a Bachelor of Arts from University of Washington in Seattle, and
        majored in <em>Law, Societies, and Justice</em> with
        minors in <em>Political Science</em> and <em>Human Rights</em>.
      </p>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>University of Washington</h2>
    </div>
  </div>
</div>

<div class="white section no-padding">
  <div class="row align-middle">
    <div class="small-12 medium-7 small-order-2 medium-order-1 image">
      <%= image_tag 'minerva.jpg', alt: 'minerva the cat', width: '700' %>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-2">
      <h2>Minerva</h2>
      <p>
        I live with a cat named <strong>Minerva</strong>. Her primary
        skills are cuddling and hissing at everyone not named "Nikky." She's
        not particularly great at hunting the bugs around my apartment and
        usually spends her days chirping at the crows that perch outside my windows.
      </p>
    </div>
  </div>
</div>

<div class="purple section">
  <div class="row align-middle">
    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>Seattle</h2>
    </div>
    <div class="small-12 medium-7 small-order-2 medium-order-2">
      <p>
        Seattle has been homefor the past <%= Time.now.year - 2006 %> years.
        Much as changed over the years, but the water and mountains remain constants.
        Being a Washington native, I don't mind the grey skies and rainy seasons.

      </p>
    </div>
  </div>
</div>

<div class="white section">
  <div class="row align-middle">
     <div class="small-12 medium-7 small-order-2 medium-order-1">
      <p class="lead">
        <%= fa_icon 'envelope' %> <a href="mailto:site@nikkysoutherland.com">site@nikkysoutherland.com</a>
      </p>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>Contact Me</h2>
    </div>
  </div>
</div>

<div class="purple">
  <div class="row">
    <div class="small-12">
      <small>
        Site created by Nikky Southerland with help from
        <a href="https://rubyonrails.org" target="_blank">Ruby on Rails</a>,
        <a href="http://foundation.zurb.com/" target="_blank">Zerb Foundation</a>,
        and
        <a href="https://fortawesome.github.io/Font-Awesome/ " target="_blank">
          Font Awesome</a>.
      </small>
    </div>
  </div>
</div>
