<% content_for(:title){'Nikky'} %>
<div class="head">
  <div class="row align-top">
    <div class="small-12 medium-6">
      <%= image_tag 'nikky.jpg', alt: 'nikky' %>
    </div>
    <div class="small-12 medium-6 content">
      <h1>Nikky Southerland</h1>
      <p class="lead">
        Lives in alt-reality Seattle.<br>
        Fifth-dimensional being.<br>
        Spews out code.<br>
        Respected by everyone.
      </p>
      <%= render partial: 'tweets', locals: {tweets: @tweets} %>
    </div>
  </div>
</div>

<div class="purple section">
  <div class="row align-middle">
    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>Blogging</h2>
    </div>
    <div class="small-12 medium-7 small-order-1 medium-order-2">
      <p>
        I've kept up a blog of some form for <%= Time.now.year - 2004 %> years
        now at <a href="http://nykida.net" target="_blank">nykida.net</a>.
        My most recent posts:
      </p>
      <%= render partial: 'blog_posts', locals: {posts: @wordpress_posts} %>
    </div>
  </div>
</div>

<div class="blue section no-padding">
  <div class="row align-middle">

    <div class="small-12 medium-7 small-order-2 medium-order-1 image">
      <%= render partial: 'flickr', locals: {photos: @flickr_photos} %>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-2">
      <h2>Photography</h2>
      <p>
        Sometimes I'm known to take pictures.
      </p>
      <p>
        There are more of my pictures than you'd ever care to see at my flickr.
      </p>
      <p>
        <%= fa_icon 'flickr' %>
        <%= link_to 'Nikky\'s Flickr', 'https://flickr.com/photos/allynfolksjr', target:
        '_blank' %>
      </p>
    </div>
  </div>
</div>

<div class="white section no-padding">
  <div class="row align-middle">

    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>
        Traveling
      </h2>
      <p>
        I travel from time to time. Countries I've visited include:
        Italy, France, Germany, Austria, United Kingdom, Republic of Ireland,
        The Netherlands, Finland, Sweden, Denmark, Norway, Croatia,
        Czech Republic, Slovenia, Hungary, Poland,
        Liechtenstein, Iceland, Switzerland, Spain,
        Belize, Mexico, Canada, and Honduras.</p>
    </div>
     <div class="small-12 medium-7 small-order-2 medium-order-2 image">
      <%= image_tag 'travel.jpg', alt: 'nikky in front of buildings', width: '700' %>
    </div>
  </div>
</div>

<div class="purple section">
  <div class="row align-middle">
    <div class="small-12 medium-7 small-order-2 medium-order-1">
      <p>
        I work as a full stack web developer at a European travel company.
        Currently specializing in the Ruby on Rails framework and data integration.
      </p>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-2">
      <h2>Software Engineer</h2>
    </div>
  </div>
</div>

<div class="blue section">
  <div class="row align-middle">
    <div class="small-12 medium-7 small-order-2 medium-order-2">
      <p>
        I have a Bachelor of Arts from University of Washington in Seattle, and
        majored in <em>Law, Societies, and Justice</em> with
        minors in <em>Political Science</em> and <em>Human Rights</em>.
      </p>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>University of Washington</h2>
    </div>
  </div>
</div>

<div class="white section no-padding">
  <div class="row align-middle">
    <div class="small-12 medium-7 small-order-2 medium-order-1 image">
      <%= image_tag 'minerva.jpg', alt: 'minerva the cat', width: '700' %>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-2">
      <h2>Cat Wrangler</h2>
      <p>
        I'm the caretaker of a small bundle of fur that often demands attention
        when I'm typing. This creature is called <strong>Minerva</strong>, and she's named
        after the goddess of strategy as well as the character
        from <em>Harry Potter</em>.
      </p>
    </div>
  </div>
</div>

<div class="purple section">
  <div class="row align-middle">
    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>Seattle</h2>
    </div>
    <div class="small-12 medium-7 small-order-2 medium-order-2">
      <p>
        I've lived in Seattle for the past <%= Time.now.year - 2006 %> years.
        It's a pretty cool place.
      </p>
    </div>
  </div>
</div>

<div class="blue section">
  <div class="row">
    <div class="small-12 medium-7 small-order-2 medium-order-1">
      <h5>Music</h5>
      <p>
        Pumping through my headphones are probably
        <em>Boards of Canada</em> are the best music group of the past
        hundred years. Other favorites include <em>El Huervo</em>,
        <em>Harvey Danger</em>, <em>The Long Winters</em>,
        <em>Talk Talk</em>, <em>Massive Attack</em>, <em>
        The Notorious B.I.G.</em>
        My <a href="http://www.last.fm/user/allynfolksjr/"
        target="_blank">last.fm</a> page has more information about
        what I listen to than you should ever likely be interested in.
      </p>

      <h5>Gaming</h5>

      <p>
        Computer games are great, and strategy games are the best <em>
        Starcraft</em>, <em>Warcraft III</em>, <em>Supreme Commander</em>,
        and <em>Fallout</em>
        are some of my favorites. Filling out the rest are <em>Mario Kart 64</em>,
         <em>Hotline Miami</em>, and <em>Dota2</em>.
       </p>

      <h5>Reading</h5>

      <p>
        I'm most often found reading non-fiction books. Favorite genres include
        WWII, general history, and space. Fiction genres include Sci-Fi and Graphic
        Novels. Favorites include <em>Dune</em>, <em>The Culture Series</em>, and
        <em>Jurassic Park</em>.
      </p>

      <h5>Movies</h5>

      <p>
        I don't watch many movies, but when I do, they're usually
        Space-related. <em>Apollo 13</em> and
        <em>Star Wars: A New Hope</em> are always in my watchlist.
      </p>


      <h5>Television</h5>
      <p>
        <em>Star Trek</em>, especially <em>Deep Space Nine</em> and
        <em>The Next Generation</em>, is my favorite television series.
        <em>Aqua Teen Hunger Force</em> comes in as a close second.
      </p>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-2">
      <h2>
        Favorites
      </h2>
    </div>
  </div>
</div>

<div class="white section">
  <div class="row align-middle">
    <div class="small-12 medium-5 small-order-1 medium-order-1">
      <h2>Contact Me</h2>
    </div>
     <div class="small-12 medium-7 small-order-2 medium-order-2">
      <p class="lead">
        <%= fa_icon 'envelope' %> <a href="mailto:site@nikkysoutherland.com">site@nikkysoutherland.com</a>
      </p>
    </div>
  </div>
</div>

<div class="purple">
  <div class="row">
    <div class="small-12">
      <small>
        Site created by Nikky Southerland with help from
        <a href="https://rubyonrails.org" target="_blank">Ruby on Rails</a>,
        <a href="http://foundation.zurb.com/" target="_blank">Zerb Foundation</a>,
        and
        <a href="https://fortawesome.github.io/Font-Awesome/ " target="_blank">
          Font Awesome</a>.
      </small>
    </div>
  </div>
</div>

<!--
#    # #    #   ##   #####    #    # #####      ####
#    # #    #  #  #    #      #    # #    #    #    #
#    # ###### #    #   #      #    # #    #    #
# ## # #    # ######   #      #    # #####     #  ###
##  ## #    # #    #   #      #    # #         #    #
#    # #    # #    #   #       ####  #          ####
-->
